<h1>Sign up!</h1>
<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>
</ul>
<%= form_for @user do |form| %>
<%= render 'user_form', f: form %>
<%= form.submit "Create new account" %>
<% end %>
 
